**/*~
**/*.pyc
__init__.py
**/Pdfdata
**/output
**/br.sm1
**/br.sm2
**/ffwarn.dat
**/input.DAT
**/process.DAT
**/*.old.*
**/*.out
**/*.o
**/*.a
**/*.so
**/*.d
**/*.pcm
**/*.lhe
AnalysisTree/**/getKDConstant*.c
AnalysisTree/**/make*.c
AnalysisTree/**/plot*.c
AnalysisTree/**/*_one.c
AnalysisTree/test/tmp*
AnalysisTree/test/*.pdf
AnalysisTree/test/*.png
AnalysisTree/test/*.eps
AnalysisTree/test/*.root
AnalysisTree/test/*.txt
AnalysisTree/test/*.log
