**/*~
**/*.pyc
__init__.py
**/Pdfdata
**/output
**/br.sm1
**/br.sm2
**/ffwarn.dat
**/input.DAT
**/process.DAT
**/*.old.*
**/*.out
**/*.o
**/*.a
**/*.so
**/*.d
**/*.pcm
Analysis/**/getKDConstant*.c
Analysis/**/make*.c
Analysis/**/plot*.c
Analysis/**/*_one.c
Analysis/test/*.pdf
Analysis/test/*.png
Analysis/test/*.eps
Analysis/test/*.root
Analysis/test/*.txt
Analysis/test/*.log
